* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'helvetica neue';
}
html,
body {
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
    background-color: lightblue;
    padding: 30px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}
.card{
    height: 300px;
    width: 350px;
    background-color: white;
    position: relative;
    border-radius: 20px;
    overflow: hidden;
}
.card img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.bottom{
    height: 40%;
    width: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background: linear-gradient(transparent,transparent, rgb(58, 57, 57));
    bottom: -40%;

    transition: all ease 0.8s;
}
.bottom h4{
    color: white;
    font-size: 30px;
    font-weight: 400;
}
.bottom h3{
    background-color: white;
    padding: 5px 7px;
    border-radius: 50%;
}
.card:hover .bottom{
    bottom: 0;
}
/*body{
    display: flex;
    align-items: center;
    justify-content: center;
    perspective: 250px;
}
 #box{
    height: 300px;
    width: 300px;
    background-image: url(https://plus.unsplash.com/premium_photo-1686730540270-93f2c33351b6?w=1000&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8Y2FyfGVufDB8fDB8fHww);
    background-size: cover;
    background-position: center;
     transform: translateX(90deg); 
     transform: rotateY(45deg); 
    transform: scale(1);
} */