@mixin button-style($bg-color:blue,$text-color:White,$text-size:18px){
    padding: 15px 30px;
    background-color: $bg-color;
    color: $text-color;
    border: none;
    border-radius: 7px;
    outline: none;
    cursor: pointer;
    font-size: $text-size;
}